CREATE DATABASE [QLTX]
GO

USE [QLTX]
GO
/****** Object:  Table [dbo].[CTPTHUEXE]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPTHUEXE](
	[SOPHIEUTHUEXE] [int] NOT NULL,
	[MAXE] [int] NOT NULL,
	[NGAYTRAXEDK] [datetime] NULL,
	[soluong] [int] NULL,
	[TONGTIENTHUEXE] [int] NULL,
 CONSTRAINT [PK_CTPTHUEXE] PRIMARY KEY CLUSTERED 
(
	[SOPHIEUTHUEXE] ASC,
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAPHD] [datetime] NULL,
	[NGAYTRAXETT] [datetime] NULL,
	[TONGTIENTHUE] [int] NULL,
	[SOPHIEUTHUEXE] [int] NULL,
	[MAXE] [int] NULL,
	[MANV] [int] NULL,
	[MATK] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](25) NULL,
	[CMND] [varchar](15) NULL,
	[BANGLAI] [varchar](15) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SDT] [varchar](15) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[MALX] [int] IDENTITY(1,1) NOT NULL,
	[TENLX] [nvarchar](30) NULL,
 CONSTRAINT [PK_LOAIXE] PRIMARY KEY CLUSTERED 
(
	[MALX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](25) NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [varchar](15) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[CHUCVU] [nvarchar](40) NULL,
	[MATK] [int] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDENBU]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDENBU](
	[SOPDB] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAPPDB] [datetime] NULL,
	[LYDODENBU] [nvarchar](50) NULL,
	[HINHTHUCDENBU] [nvarchar](50) NULL,
	[SOPHIEUTHUEXE] [int] NULL,
	[MAXE] [int] NULL,
	[MANV] [int] NULL,
	[MATK] [int] NULL,
	[GIADENBU] [int] NULL,
 CONSTRAINT [PK_PHIEUDENBU] PRIMARY KEY CLUSTERED 
(
	[SOPDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHUEXE]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUEXE](
	[SOPHIEUTHUEXE] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[MAKH] [int] NULL,
	[MANV] [int] NULL,
	[MATK] [int] NULL,
 CONSTRAINT [PK_PHIEUTHUEXE] PRIMARY KEY CLUSTERED 
(
	[SOPHIEUTHUEXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[TENTAIKHOAN] [varchar](30) NULL,
	[MATKHAU] [varchar](30) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XETHUE]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XETHUE](
	[MAXE] [int] IDENTITY(1,1) NOT NULL,
	[MALX] [int] NULL,
	[TENXE] [nvarchar](30) NULL,
	[KIEUXE] [nvarchar](30) NULL,
	[BIENSOXE] [varchar](10) NULL,
	[GIAXE] [int] NULL,
	[HINHANH] [varchar](max) NULL,
 CONSTRAINT [PK_XETHUE] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[a]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[a] as
select SOPDB , TENKH ,NGAYLAPPDB , LYDODENBU, HINHTHUCDENBU,pdb.SOPHIEUTHUEXE , GIADENBU ,TENXE , TENNV
from KHACHHANG kh,PHIEUDENBU pdb , CTPTHUEXE cttx , NHANVIEN nv , XETHUE xt , PHIEUTHUEXE ptx
where kh.MAKH = ptx.MAKH and ptx.SOPHIEUTHUEXE = cttx.SOPHIEUTHUEXE and pdb.SOPHIEUTHUEXE = cttx.SOPHIEUTHUEXE and cttx.MAXE = xt.MAXE and pdb.MANV = nv.MANV and pdb.MAXE = cttx.MAXE


GO
/****** Object:  View [dbo].[b]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[b] as
select MAHD ,TENKH, NGAYLAPHD , NGAYTRAXETT, soluong,TONGTIENTHUE , hd.SOPHIEUTHUEXE , TENXE ,nv.TENNV
from KHACHHANG kh,PHIEUTHUEXE ptx, HOADON hd , CTPTHUEXE cttx , NHANVIEN nv , XETHUE xt
where kh.MAKH = ptx.MAKH and ptx.SOPHIEUTHUEXE = cttx.SOPHIEUTHUEXE  and   hd.SOPHIEUTHUEXE = cttx.SOPHIEUTHUEXE and cttx.MAXE = xt.MAXE and hd.MANV = nv.MANV and hd.MAXE = cttx.MAXE 


GO
/****** Object:  View [dbo].[c]    Script Date: 17/11/2020 1:19:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[c] as
select cttx.SOPHIEUTHUEXE , TENKH , TENXE, soluong,NGAYLAP , NGAYTRAXEDK , TONGTIENTHUEXE ,nv.TENNV
from KHACHHANG kh ,PHIEUTHUEXE ptx , CTPTHUEXE cttx , NHANVIEN nv , XETHUE xt
where kh.MAKH = ptx.MAKH and ptx.SOPHIEUTHUEXE = cttx.SOPHIEUTHUEXE and cttx.MAXE = xt.MAXE and ptx.MANV = nv.MANV and ptx.SOPHIEUTHUEXE = cttx.SOPHIEUTHUEXE

GO
INSERT [dbo].[CTPTHUEXE] ([SOPHIEUTHUEXE], [MAXE], [NGAYTRAXEDK], [soluong], [TONGTIENTHUEXE]) VALUES (2, 1, CAST(N'2020-11-22 00:00:00.000' AS DateTime), 3, 5400000)
INSERT [dbo].[CTPTHUEXE] ([SOPHIEUTHUEXE], [MAXE], [NGAYTRAXEDK], [soluong], [TONGTIENTHUEXE]) VALUES (2, 2, CAST(N'2020-11-14 00:00:00.000' AS DateTime), 1, 50000)
INSERT [dbo].[CTPTHUEXE] ([SOPHIEUTHUEXE], [MAXE], [NGAYTRAXEDK], [soluong], [TONGTIENTHUEXE]) VALUES (14, 1, CAST(N'2020-11-22 00:00:00.000' AS DateTime), 1, 1000000)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [NGAYTRAXETT], [TONGTIENTHUE], [SOPHIEUTHUEXE], [MAXE], [MANV], [MATK]) VALUES (3, CAST(N'2020-11-17 00:00:00.000' AS DateTime), CAST(N'2020-11-15 00:00:00.000' AS DateTime), 1200000, 2, 1, 5, 5)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [NGAYTRAXETT], [TONGTIENTHUE], [SOPHIEUTHUEXE], [MAXE], [MANV], [MATK]) VALUES (4, CAST(N'2020-11-17 00:00:00.000' AS DateTime), CAST(N'2020-11-22 00:00:00.000' AS DateTime), 20000000, 17, 6, 5, 5)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [BANGLAI], [DIACHI], [SDT]) VALUES (1, N'Phạm Vĩnh Phát', N'077000003965', N'071212131458', N'Bình Thạnh', N'0933355602')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [BANGLAI], [DIACHI], [SDT]) VALUES (2, N'Lưu Trường Nghĩa', N'077000009256', N'015364251458', N'Quận 1', N'0923645871')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [BANGLAI], [DIACHI], [SDT]) VALUES (3, N'Lê Nguyễn Thành Long', N'072000005863', N'078523692368', N'Đồng Nai', N'0923784192')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIXE] ON 

INSERT [dbo].[LOAIXE] ([MALX], [TENLX]) VALUES (1, N'Xe 2 bánh')
INSERT [dbo].[LOAIXE] ([MALX], [TENLX]) VALUES (2, N'Xe 4 bánh')
INSERT [dbo].[LOAIXE] ([MALX], [TENLX]) VALUES (3, N'Xe hơi')
SET IDENTITY_INSERT [dbo].[LOAIXE] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [SDT], [GIOITINH], [CHUCVU], [MATK]) VALUES (1, N'Thành Long', CAST(N'2020-11-12 00:00:00.000' AS DateTime), N'0918399443', N'Nam', N'Quản Lí', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [SDT], [GIOITINH], [CHUCVU], [MATK]) VALUES (2, N'Phạm Toàn Thắng', CAST(N'2000-04-25 00:00:00.000' AS DateTime), N'0924587663', N'Nam', N'Nhân Viên', 2)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [SDT], [GIOITINH], [CHUCVU], [MATK]) VALUES (3, N'Nguyễn Thị Hoài An', CAST(N'1999-02-12 00:00:00.000' AS DateTime), N'0984777125', N'Nữ', N'Nhân Viên', 3)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUDENBU] ON 

INSERT [dbo].[PHIEUDENBU] ([SOPDB], [NGAYLAPPDB], [LYDODENBU], [HINHTHUCDENBU], [SOPHIEUTHUEXE], [MAXE], [MANV], [MATK], [GIADENBU]) VALUES (8, CAST(N'2020-11-22 00:00:00.000' AS DateTime), N'Phá xe', N'Vang', 17, 6, 5, 5, 9000000)
SET IDENTITY_INSERT [dbo].[PHIEUDENBU] OFF
SET IDENTITY_INSERT [dbo].[PHIEUTHUEXE] ON 

INSERT [dbo].[PHIEUTHUEXE] ([SOPHIEUTHUEXE], [NGAYLAP], [MAKH], [MANV], [MATK]) VALUES (2, CAST(N'2020-11-13 00:00:00.000' AS DateTime), 1, 2, 2)
INSERT [dbo].[PHIEUTHUEXE] ([SOPHIEUTHUEXE], [NGAYLAP], [MAKH], [MANV], [MATK]) VALUES (4, CAST(N'2020-11-13 00:00:00.000' AS DateTime), 10, 2, 2)
INSERT [dbo].[PHIEUTHUEXE] ([SOPHIEUTHUEXE], [NGAYLAP], [MAKH], [MANV], [MATK]) VALUES (14, CAST(N'2020-11-17 00:00:00.000' AS DateTime), 13, 5, 5)
SET IDENTITY_INSERT [dbo].[PHIEUTHUEXE] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MATK], [TENTAIKHOAN], [MATKHAU]) VALUES (1, N'thanhlong', N'123')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENTAIKHOAN], [MATKHAU]) VALUES (2, N'toanthang', N'123')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENTAIKHOAN], [MATKHAU]) VALUES (3, N'hoaian', N'123')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[XETHUE] ON 

INSERT [dbo].[XETHUE] ([MAXE], [MALX], [TENXE], [KIEUXE], [BIENSOXE], [GIAXE], [HINHANH]) VALUES (1, 1, N'SH Mode', N'Tay ga', N'12345', 200000, N'D:\Picture\sh_mode.png')
INSERT [dbo].[XETHUE] ([MAXE], [MALX], [TENXE], [KIEUXE], [BIENSOXE], [GIAXE], [HINHANH]) VALUES (2, 1, N'Wave Alpha', N'Xe số', N'12568', 120000, N'D:\Picture\wave_alpha.png')
INSERT [dbo].[XETHUE] ([MAXE], [MALX], [TENXE], [KIEUXE], [BIENSOXE], [GIAXE], [HINHANH]) VALUES (3, 2, N'Toyota Prius', N'Xe hơi', N'72868', 500000, N'D:\Picture\Toyota_Prius.png')
SET IDENTITY_INSERT [dbo].[XETHUE] OFF
ALTER TABLE [dbo].[CTPTHUEXE]  WITH CHECK ADD  CONSTRAINT [Relationship3] FOREIGN KEY([SOPHIEUTHUEXE])
REFERENCES [dbo].[PHIEUTHUEXE] ([SOPHIEUTHUEXE])
GO
ALTER TABLE [dbo].[CTPTHUEXE] CHECK CONSTRAINT [Relationship3]
GO
ALTER TABLE [dbo].[CTPTHUEXE]  WITH CHECK ADD  CONSTRAINT [Relationship4] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XETHUE] ([MAXE])
GO
ALTER TABLE [dbo].[CTPTHUEXE] CHECK CONSTRAINT [Relationship4]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [Relationship6] FOREIGN KEY([MANV], [MATK])
REFERENCES [dbo].[NHANVIEN] ([MANV], [MATK])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [Relationship6]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [Relationship13] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [Relationship13]
GO
ALTER TABLE [dbo].[PHIEUDENBU]  WITH CHECK ADD  CONSTRAINT [Relationship10] FOREIGN KEY([SOPHIEUTHUEXE], [MAXE])
REFERENCES [dbo].[CTPTHUEXE] ([SOPHIEUTHUEXE], [MAXE])
GO
ALTER TABLE [dbo].[PHIEUDENBU] CHECK CONSTRAINT [Relationship10]
GO
ALTER TABLE [dbo].[PHIEUDENBU]  WITH CHECK ADD  CONSTRAINT [Relationship12] FOREIGN KEY([MANV], [MATK])
REFERENCES [dbo].[NHANVIEN] ([MANV], [MATK])
GO
ALTER TABLE [dbo].[PHIEUDENBU] CHECK CONSTRAINT [Relationship12]
GO
ALTER TABLE [dbo].[XETHUE]  WITH CHECK ADD  CONSTRAINT [Relationship7] FOREIGN KEY([MALX])
REFERENCES [dbo].[LOAIXE] ([MALX])
GO
ALTER TABLE [dbo].[XETHUE] CHECK CONSTRAINT [Relationship7]
GO
